<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StrConnMdl" 
         connectionString="Data Source=.\SQLEXPRESSANNIE;Initial Catalog=M2L;User ID={0};PWD={1};"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TitreApplication" value="Maison des Ligues"/>
  </appSettings>
</configuration>